@font-face {
   font-family: 'digital-dream';
   src: url('css/fonts/digitaldream_regular_macroman-webfont.eot');
   src: url('css/fonts/digitaldream_regular_macroman-webfont.eot?#iefix')
   format('embedded-opentype'),
   url('css/fonts/digitaldream_regular_macroman-webfont.woff')
   format('woff'),
   url('css/fonts/digitaldream_regular_macroman-webfont.ttf')
   format('truetype'),
   url('css/fonts/digitaldream_regular_macroman-webfont.svg#robotoregular')
   format('svg');
   font-weight: normal;
   font-style: normal;
}


body {

  font-size:16px;
  color: #ffffff;
  font-family: Open Sans Light;
  background-color: #FF8B69;
}

footer {
  color: #c2c2c2;
}

.border {
  color: #dbdbdb;
}

.wrapper {
  display: flex;
}

header {
  background-color: white;
  height: 100vh;
  min-width: 150px;
  max-width: 150px;
  flex: 0 1 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-button {
  font-family: 'digital-dream';
  font-weight: normal;
  font-style: normal;
  background-color: #222222;
  height: 4rem;
  width: 15rem;
  align-self: center;
  font-size: 4rem;
  text-align: center;
  color: lightgreen;
  align-self: flex-start;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.button-flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  border: 2px solid white;
  background: #EDF1F2;
  padding: 1rem 4rem;
  color: #222;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 5;
  }

h1 {
  letter-spacing: -10px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #EDF1F2;
  font-size: 6rem;
  transform: rotate(-90deg);
  position: relative;
  top: -13rem;
  left: 3rem;
}

.rocket-container {
  height: 100px;
  width: 100px;
  background-color: #FF8969;
  border-radius: 50px;
  position: relative;
  left: -8.7rem;
}

i.fa-space-shuttle {
  transform: rotate(-90deg);
  font-size: 4rem;
  position: relative;
  left: -2px;
  top: 17px;
}
