.clock-button {
  font-family: 'digital-dream';
  font-weight: normal;
  font-style: normal;
  background-color: #222222;
  height: 4rem;
  width: 15rem;
  align-self: center;
  font-size: 4rem;
  text-align: center;
  color: lightgreen;
  align-self: flex-start;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
