// font faces

@font-face {
   font-family: 'digital-dream';
   src: url('css/fonts/digitaldream_regular_macroman-webfont.eot');
   src: url('css/fonts/digitaldream_regular_macroman-webfont.eot?#iefix')
   format('embedded-opentype'),
   url('css/fonts/digitaldream_regular_macroman-webfont.woff')
   format('woff'),
   url('css/fonts/digitaldream_regular_macroman-webfont.ttf')
   format('truetype'),
   url('css/fonts/digitaldream_regular_macroman-webfont.svg#robotoregular')
   format('svg');
   font-weight: normal;
   font-style: normal;
}
